# Pré-processamento

- Autor: Lucas Dias Noronha
- Ano: 2025
- Objetivo: Limpar, transformar e preparar os dados brutos para análise/modelagem

# Carregando Dependências

In [58]:
import sys, os
sys.path.append(os.path.abspath('../'))  # sobe um nível e adiciona ao path

import numpy as np
import pandas as pd
from src.visualization.hist import plot_histograma

NameError: name 's' is not defined

In [37]:
db = pd.read_csv("../data/raw/dados_veiculos.csv")

In [38]:
db

,ID do veículo,data,tempo de viagem,velocidade média,consumo de combustível,carga transportada,ID do motorista,feedback do cliente
0,1,2022-01-01 08:15:00,30,60,10,100,101,4.5
1,2,2022-01-02 14:30:00,45,55,15,200,102,4.2
2,3,2022-01-02 10:45:00,20,40,8,50,103,4.8
3,4,2022-01-03 09:20:00,35,50,12,150,101,3.9
4,5,2022-01-04 12:10:00,50,45,18,250,104,4.6
5,6,2022-01-04 11:30:00,25,55,9,80,103,4.1
6,7,2022-01-05 16:45:00,40,40,14,180,105,3.7
7,8,2022-01-05 13:20:00,55,35,20,300,106,4.3
8,9,2022-01-06 09:30:00,30,50,10,100,102,4.5
9,10,2022-01-07 11:45:00,40,45,13,150,101,4.0
10,100,2022-04-07 21:30:00,50,40,17,220,104,4.8

Excluindo variáveis do qual não me serão úteis

In [40]:
numeric_db = db.select_dtypes(include=["number"])

total_rows = len(db)

summary_numeric = pd.DataFrame({
    "dtype": numeric_db.dtypes,
    "total_rows": total_rows,
    "n_null": numeric_db.isnull().sum(),
    "n_unique": numeric_db.nunique(),
    "mean": numeric_db.mean().round(2),
    "std": numeric_db.std().round(2),
    "variance": numeric_db.var().round(2),
    "coef_var (%)": ((numeric_db.std() / numeric_db.mean()) * 100).round(2),
    "min": numeric_db.min().round(2),
    "25%": numeric_db.quantile(0.25).round(2),
    "50% (mediana)": numeric_db.median().round(2),
    "75%": numeric_db.quantile(0.75).round(2),
    "max": numeric_db.max().round(2),
    "range": numeric_db.max().round(2) - numeric_db.min().round(2)
})

summary_numeric

,dtype,total_rows,n_null,n_unique,mean,std,variance,coef_var (%),min,25%,50% (mediana),75%,max,range
ID do veículo,int64,11,0,11,14.09,28.64,820.09,203.23,1.0,3.50,6.0,8.50,100.0,99.0
tempo de viagem,int64,11,0,8,38.18,11.24,126.36,29.44,20.0,30.00,40.0,47.50,55.0,35.0
velocidade média,int64,11,0,6,46.82,7.83,61.36,16.73,35.0,40.00,45.0,52.50,60.0,25.0
consumo de combustível,int64,11,0,10,13.27,3.93,15.42,29.58,8.0,10.00,13.0,16.00,20.0,12.0
carga transportada,int64,11,0,9,161.82,76.92,5916.36,47.53,50.0,100.00,150.0,210.00,300.0,250.0
ID do motorista,int64,11,0,6,102.91,1.70,2.89,1.65,101.0,101.50,103.0,104.00,106.0,5.0
feedback do cliente,float64,11,0,9,4.31,0.36,0.13,8.46,3.7,4.05,4.3,4.55,4.8,1.1

In [ ]:
db